{% extends "layout.njk" %}
{% block title %}Parish Staff | Cathedral & St. Casimir{% endblock %}
{% block content %}
<div id="body">
    <div class="container">
        <h1 class="text-center">Clergy and Staff</h1>
    </div>
    <div class="container">
        {% for member in staff %}
            <div class="row">
                <div class="col-sm-3">
                    <img style="max-height: 175px;"
                         src="{{ member.photo }}"
                         class="img img-responsive center-block padded">
                </div>
                <div class="col-sm-9">
                    <h2>{{member.name}}</h2>
                    <p class="strong">{{member.title}}</p>
                    <p>{{member.phone}}</p>
                    <p><a href="mailto:{{member.email}}">{{member.email}}</a></p>
                    <hr/>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
