div.gsc-control-cse{
    border:none;
    background: transparent !important;
    padding: 0 !important;
}
td.gsc-search-button{
    display:none;
}
#___gcse_0{
    float:right;
}
form.gsc-search-box{
    padding: 0;
}
#gsc-i-id1{
    -webkit-border-radius:15px;
    -moz-border-radius:15px;
    border-radius:15px;
}
