{% extends "layout.njk" %}
{% block title %}Vocations{% endblock %}
{% block content %}
<div id="body" class="container text-center">
    <div class="row">
        <div class="col-sm-12">
            <h1>Vocations</h1>
            <p>"For I know well the plans I have in mind for you...plans for your welfare and not for woe, so as to 
                give you a future of hope." ~ Jeremiah 29:11</p>
            <p>Each and every one of us is called to holiness - to know, love, and serve God in this life and be happy
            with Him forever in the next. He calls each of us to a particular task by which to serve Him.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <h2>Consecrated Life</h2>
            <p>
                Consecrated life takes a number of forms - brothers and sisters, monks and nuns, as well as consecrated 
                virgins.  Those called to the consecrated life give themselves totally to God and the service of His 
                Church.  <br/><strong>Religious Brothers and Sisters </strong> live together in community, but exercise a 
                particular <strong>apostolate</strong> in the larger community within which they live.  Many religious 
                are teachers, doctors, and missionaries at home and abroad.  Examples of these orders are Dominicans
                and Franciscans.
                <br/><strong>Monks and nuns</strong> live in a cloistered (secluded) life of <strong>work and prayer</strong>, 
                and rarely leave their monestaries or convents. They support the universal church through their prayers.
                Examples of these orders are the Cistercians, Carthusians, and Trappists.
                <br/><strong>Consecrated virgins</strong> are those whom God has called to live a single life, dedicated 
                to God while living and working in the world.
                <br/>Consecrated religious are generally bound by <strong>vows</strong> of poverty, chastity, and obedience, known as the
                <strong>Evangelical counsels</strong>
            </p>
        </div>
        <div class="col-sm-4" style="height: 100%">
            <h2>Married Life</h2>
            <p>
                God calls many men and women to give themselves to one another in marriage.  They are helpmates to each
                other on their journey to eternity, and through their love they raise children to love and serve God and 
                neighbor.
                <br/>
                <br/>
                <img src="/formation/sacraments/images/matrimony.png" class="img img-responsive center-block"/>
            </p>
        </div>
        <div class="col-sm-4" style="height: 100%">
            <h2>Priesthood</h2>
            <p>
                God calls some men to serve Him as priests.  A priest dedicates himself to the service of the Church though
                his threefold office of teaching, governing, and sanctifying.  A priest intercedes for the people of God
                and provides for their sacramental and spiritual needs.  A priest takes vows of celibacy and obedience, 
                and is expected to live a simple life.
                <br/>
                <br/>
                <img src="/formation/sacraments/images/orders.png" class="img img-responsive center-block"/>

            </p>
        </div>
    </div>
</div>
{%endblock%}
