{% extends "layout.njk" %}
{% block title %}Children's Liturgy of the Word{% endblock %}
{% block content %}
<div class="container">
    <ol class="breadcrumb">
        <li><a href="/formation/youth/">Faith Formation</a></li>
        <li class="active">Children's Liturgy of the Word</li>
    </ol>
    <div class="row">
        <div class="col-md-3">
            <img class="img img-responsive img-thumbnail" src="images/little-children-come.png"/>

        </div>
        <div class="col-md-9">
            <h1>Children's Liturgy of the Word</h1>
            <p>
                Children's Liturgy of the Word takes place Sundays at Cathedral of the Sacred Heart during the 10:30 am
                Masses during the school year. During the Liturgy of the Word all children 4+ are invited to hear the
                Gospel message in a way that is geared toward them.
            </p>
            <p>
                If you are interested in more information or would like to volunteer to help with this ministry, please
                contact the parish office at <a href="mailto:info@cathedralwinona.org">info@cathedralwinona.org</a>.
            </p>
            <strong>
                We would like your feedback! Please <a
                        href="https://docs.google.com/forms/d/e/1FAIpQLSeWlwEUuvyLSaWpPXEi6FC70QdVB7eO2bHy2hEwA6oe2lQwbQ/viewform">click
                    here</a> to take a short survey regarding the Children's Liturgy at the Cathedral.
            </strong>
        </div>
    </div>
</div>
{% endblock %}
