{% extends "layout.njk" %}
{% block title %}Anointing of the Sick{% endblock %}
{% block content %}
<div id="body">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <ol class="breadcrumb">
                    <li><a href="/formation/sacraments/">Sacraments</a></li>
                    <li class="active">Anointing of the Sick</li>
                </ol>
            </div>
        </div>
        <div class="row">
            <h2 class="text-center">Anointing of the Sick</h2>
            <p class="text-center italic">“Is anyone among you sick? They should summon the presbyters of the church, and they should pray over them and anoint them with oil in the name of the Lord, and the prayer of faith will save the sick person, and the Lord will raise them up. If he has committed any sins, he will be forgiven.” - St. James, Apostle</p>
        </div>
        <div class="row">
            <div class="col-sm-12"><img src="images/anointing.png" style="padding:4px;" class="img-responsive pull-right">
                <h3>By appointment. </h3>
                <p>Please contact the parish office at 507-452-4770.</p>
                <h3>Hospital & Nursing Home Visits</h3>
                <p>If you or someone you know is homebound, in the hospital, or in the nursing home, please call the church office and let us know. We appreciate knowing when someone is in need of special care.</p>
                <p>We need their name, a phone number to reach, and a location where to find our friend in need of this Sacrament of Anointing.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
