{% extends "layout.njk" %}
{% block title %}Baptism{% endblock %}
{% block content %}
<div id="body">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <ol class="breadcrumb">
                    <li><a href="/formation/sacraments/">Sacraments</a></li>
                    <li class="active">Baptism</li>
                </ol>
            </div>
        </div>
        <div class="row">
            <div class="col-md-9 col-sm-12">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-12">
                            <h2 class="text-center">Baptism</h2>

                            <p class="text-center">
                                Baptism is the first of the Sacraments of Initiation.  By it, we are cleansed of all sin,
                                both original and actual, filled with Sanctifying Grace, and made part of the Mystical Body of
                                Christ, the Church.  It leaves an indelible mark on our soul, marking us for eternity as sons
                                and daughters of God.  It can be received only once.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-lg-6">
                        <h3>Frequently Asked Questions</h3>
                        <div class="container-fluid">
                            <h4 class="italic">How much does a Baptism cost?</h4>
                            <p>There is no cost for a Baptism. It is customary to make an offering to the Church but this is not
                                required. </p>
                            <h4 class="italic">How soon should my baby be baptized?</h4>
                            <p>The Church encourages parents to have their children Baptized as soon as possible after
                                birth. </p>
                            <h4 class="italic">I haven’t been to church for many years and my six-year-old has never been
                                baptized. Can they be baptized?</h4>
                            <p>Yes, though an older child will be given some instruction about Baptism so they understand what
                                is going on during the ceremony. There is no age too late to be baptized! </p>
                            <h4 class="italic">My spouse is not Catholic but they would like their non-Catholic family member to
                                be a godparent. Is this allowed?</h4>
                            <p>The Church requires at least one confirmed Catholic godparent in order to support the parents
                                when bringing up the child in the Church. Other baptized people can serve as Christian Witnesses
                                of Baptism. All Christian Witnesses are required to be baptized and at least 16. </p>
                            <h4 class="italic">I am a single parent. I’d like my baby to be baptized but I am anxious about the
                                reaction I’ll get from the priest.</h4>
                            <p>There is no need to be anxious or worried. You will be given a friendly reception by the priest
                                or parish office staff member that will be happy to make arrangements and answer your questions.
                                All that matters is that the child will be brought up and taught about their Catholic faith.</p>
                            <h4 class="italic">My spouse is a protestant Christian and would like their minister to take part in
                                the baptism. Do you allow this?</h4>
                            <p>Your spouse’s minister or pastor is welcome to come and can at certain points share a prayer, but
                                the baptism must be done by only one person. The priest will be happy to discuss and explain
                                what is customary in these situations. </p>
                            <h4 class="italic">My spouse feels unsure and anxious about the ceremony and what will be required
                                of us as parents during the Baptism.</h4>
                            <p>Let us assure you that there is not need to be worried. The priest or deacon leading the ceremony
                                will guide you through the service step-by-step. During your preparation do not hesitate to
                                mention any point or action that might worry either of you. We want you to enjoy the occasion
                                and celebrate! </p>
                            <h4 class="italic">My baby was baptized at birth because of illness. Can they be rebaptized in
                                church?</h4>
                            <p>Baptism is the sacrament of becoming a Christian, and the baptism at birth was a true baptism.
                                Although the baptism will not be repeated, you can have a celebration in church and share in the
                                other prayers and blessings which are part of the baptismal ceremony. You can also appoint
                                godparents at this time. </p>
                        </div>
                    </div>
                    <div class="col-sm-12 col-lg-6">
                        <h3>Role of Godparents</h3>
                        <div class="container-fluid">
                            <p>To be chosen as a godparent is a special honor. You have been entrusted with the responsibility
                                to participate in this child’s Christian life and education. This privilege offers you the
                                opportunity to develop a mutually enriching spiritual relationship - one that will last
                                throughout this life and beyond. There are many ways you can nurture this spiritual relationship
                                and become a special friend to your godchild. Among them are:</p>
                            <ul>
                                <li>Celebrate the anniversary of this holy day of baptism each year with a visit, a call, or a
                                    card.
                                </li>
                                <li>As your godchild grows, listen to and share in the struggles and triumphs of living a
                                    Christian life, and keep yourself informed on Christian doctrine and values, to be able to
                                    answer questions as they arise.
                                </li>
                                <li>Encourage a consistent life of faith through special cards, letters of advice, or religious
                                    gifts to celebrate holy events.
                                </li>
                                <li>Participate in by your presence or through prayer as your godchild receives the other
                                    sacraments, particularly First Communion and Confirmation, which complete initiation into
                                    the Church community.
                                </li>
                                <li>Be supportive of your godchild’s parents in their role as the primary religious educators of
                                    their child.
                                </li>
                                <li>And most importantly, become a model of Christian living for your godchild, through daily
                                    prayer, virtue and active participation in parish life and liturgy.
                                </li>
                            </ul>
                            <p>By living a Christian life in partnership with your godchild, both of you will experience the
                                great joy of sharing a life of faith.</p>
                            <p>Congratulations, and may God bless you!</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <img src="images/baptism.png" class="img img-responsive padded"><br/>
                <div class="list-group">
                    <a href="/contact?baptism" class="list-group-item">
                        <i class="far fa-pencil"></i> Register For Baptism
                    </a>
                    <a href="/formation/rcia.html" class="list-group-item">
                        <i class="far fa-link"></i> Adult Baptism (RCIA)
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
