{% extends "layout.njk" %}
{% block title %}Holy Eucharist{% endblock %}
{% block content %}
<div id="body">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <ol class="breadcrumb">
                    <li><a href="/formation/sacraments/">Sacraments</a></li>
                    <li class="active">Holy Eucharist</li>
                </ol>
            </div>
        </div>
        <div class="row">
            <div class="col-md-9 col-sm-12">
                <div class="container-fluid text-center">
                    <div class="row">
                        <div class="col-sm-12">
                            <h2 class="text-center">Holy Eucharist</h2>

                            <p>"The holy Eucharist completes Christian initiation. Those who have been raised to the dignity of the
                                royal priesthood by Baptism and configured more deeply to Christ by Confirmation participate with
                                the whole community in the Lord's own sacrifice by means of the Eucharist.</p>
                            <p>"At the Last Supper, on the night he was betrayed, our Savior instituted the Eucharistic sacrifice of
                                his Body and Blood. This he did in order to perpetuate the sacrifice of the cross throughout the
                                ages until he should come again, and so to entrust to his beloved Spouse, the Church, a memorial of
                                his death and resurrection: a sacrament of love, a sign of unity, a bond of charity, a Paschal
                                banquet 'in which Christ is consumed, the mind is filled with grace, and a pledge of future glory is
                                given to us.'"</p>
                            <p>The Eucharist is "the source and summit of the Christian life." "The other sacraments, and indeed all
                                ecclesiastical ministries and works of the apostolate, are bound up with the Eucharist and are
                                oriented toward it. For in the blessed Eucharist is contained the whole spiritual good of the
                                Church, namely Christ himself, our Pasch."</p>
                            <p>"The Eucharist is the efficacious sign and sublime cause of that communion in the divine life and
                                that unity of the People of God by which the Church is kept in being. It is the culmination both of
                                God's action sanctifying the world in Christ and of the worship men offer to Christ and through him
                                to the Father in the Holy Spirit."</p>
                            <p>Finally, by the Eucharistic celebration we already unite ourselves with the heavenly liturgy and
                                anticipate eternal life, when God will be all in all.</p>
                            <p>In brief, the Eucharist is the sum and summary of our faith: "Our way of thinking is
                                attuned to the
                                Eucharist, and the Eucharist in turn confirms our way of thinking."" </p>
                            <p>~ Catechism of the Catholic Church, 1322-1327</p>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <h3>Home Communion</h3>
                            <p>To receive Holy Communion in your home, please contact the parish office at 507-452-4770
                                with your
                                name, phone number, and address.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <img src="images/eucharist.png" class="img-responsive padded"><br/>
                <div class="list-group">
                    <a class="list-group-item" href="/formation/youth"><i class="far fa-link"></i> Faith Formation</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
