{% extends "layout.njk" %}
{% block title %}Location{% endblock %}
{% block head %}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.1/dist/leaflet.css"
          integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
          crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.3.1/dist/leaflet.js"
            integrity="sha512-/Nsx9X4HebavoBvEBuyp3I7od5tA0UzAxs+j83KgC8PU0kgB4XiK4Lfe4y4cgBtaRJQEIFCW+oC506aPT2L1zw=="
            crossorigin=""></script>
{% endblock %}
{% block content %}
<div id="body">
    <div class="container"><h1>Location</h1></div>
    <div class="container">
        <div class="row">
            <div class="col-sm-5">
                <div class="row">
                    <div class="container"><h2>Cathedral of the Sacred Heart</h2>
                        <p>360 Main Street</p>
                        <p>Winona, MN 55987</p></div>
                </div>
                <div class="row">
                    <div class="container"><h2>St. Casimir Parish</h2>
                        <p>626 W Broadway</p>
                        <p>Winona, MN 55987</p>
                        <div class="text-muted">(Location only, please use Cathedral address for mailing)</div>
                    </div>
                </div>
            </div>
            <div class="col-sm-7">
                <div id="cathedralMap" class="col-sm-12" style="height:25em;"><p>Map</p></div>
                <script>
                    const map = L.map('cathedralMap').setView([44.05, -91.645], 14);

                    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
                    }).addTo(map);

                    const cathedralIcon = L.icon({
                        iconUrl: 'images/sacred-heart.png',
                        iconSize: [32, 36], // size of the icon
                        iconAnchor: [18, 36], // point of the icon which will correspond to marker's location
                        popupAnchor: [-2, -30] // point from which the popup should open relative to the iconAnchor
                    });
                    const stCasimirIcon = L.icon({
                        iconUrl: 'images/st-casimir.png',
                        iconSize: [32, 36], // size of the icon
                        iconAnchor: [18, 36], // point of the icon which will correspond to marker's location
                        popupAnchor: [-2, -30] // point from which the popup should open relative to the iconAnchor
                    });

                    const catheralMarker = L.marker([44.048358, -91.639178], {icon: cathedralIcon}).addTo(map).bindPopup('Cathedral of the Sacred Heart');
                    const stCasimirMarker = L.marker([44.053193, -91.654381], {icon: stCasimirIcon}).addTo(map).bindPopup('St. Casimir Parish');
                </script>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12"><h2>Tours</h2>
                <p>Do you have a large group or pilgrimage group that would like to tour Cathedral of the Sacred Heart
                    or St. Casimir? We would love to have you! Please call Anna in our parish office to arrange a day
                    and time at (507) 452-4770. </p></div>
        </div>
    </div>
</div>
{% endblock %}
