{% extends "layout.njk" %}
{% block title %}Pastoral Council{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <ol class="breadcrumb">
                <li><a href="/volunteer/">Volunteer</a></li>
                <li class="active">Pastoral Council</li>
            </ol>
        </div>
    </div>
    <div class="row text-center">
        <h1>Pastoral Council</h1>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-4">
            <img src="images/councilProfiles/bhesch.png" class="img img-thumbnail img-responsive"/>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4">
            <img src="images/councilProfiles/twelch.png" class="img img-thumbnail img-responsive"/>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4">
            <img src="images/councilProfiles/browekamp.png" class="img img-thumbnail img-responsive"/>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4">
            <img src="images/councilProfiles/mbrickl.png" class="img img-thumbnail img-responsive"/>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4">
            <img src="images/councilProfiles/plangowski.png" class="img img-thumbnail img-responsive"/>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4">
            <img src="images/councilProfiles/kshustrom.png" class="img img-thumbnail img-responsive"/>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4">
            <img src="images/councilProfiles/pbyron.png" class="img img-thumbnail img-responsive"/>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4">
            <img src="images/councilProfiles/jkammerer.png" class="img img-thumbnail img-responsive"/>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4">
            <img src="images/councilProfiles/ateska.png" class="img img-thumbnail img-responsive"/>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4">
            <img src="images/councilProfiles/jkaufman.png" class="img img-thumbnail img-responsive"/>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4">
            <img src="images/councilProfiles/brademaker.png" class="img img-thumbnail img-responsive"/>
        </div>
    </div>
</div>
{% endblock %}
