{% extends "layout.njk" %}
{% block title %}History of St. Joseph{% endblock %}
{% block content %}
<div id="body">
    <div class="container">
        <ol class="breadcrumb">
            <li><a>About</a></li>
            <li><a href="/about/history">History</a></li>
            <li class="active">St. Joseph</li>
        </ol>
        <div class="row">
            <div class="col-sm-12">
                <h1 class="text-center">History of St. Joseph Parish</h1></div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <img src="images/st_joseph_interior.jpg"
                                        class="img img-responsive img-thumbnail margin-right pull-left">
                <p>Catholic residents of all nationalities attended the first Catholic church in Winona, which was built
                    in 1857. It was located on the corner of Mark and Dakota streets, but later transferred to Wabasha
                    Street. At this time, the number of Catholics of German nationality was small, but there was a
                    desire among them to have a church and, especially, a priest who would continue to instruct them and
                    their children in their native language. On August 15, 1858, the small group took the first step
                    toward their ambition when they elected a committee to secure a site for a church somewhere between
                    Main and Kansas Streets and Second Street and Broadway. The men within this committee included:
                    Anton Roewekamp; W. H. Melchior, secretary; P. J. Schumacher, treasurer; Clemens Mertes and Carl M.
                    Germes, counselors.</p>
                <p>They decided to purchase a lot on the corner of fifth and Kansas Streets from Mr. L. D. Schmitt for
                    $500.00. Since they could not secure a clear title, however, they decided to purchase a lot on the
                    corner of fifth and Walnut Streets for $400.00. Two hundred dollars was to be paid at once, so Mr.
                    George Hornung agreed to loan them the money until they could collect two hundred dollars. The site
                    was purchased on September 8, 1858.</p>
                <p>It was not until August 5, 1861 that the sum of $400.00 was collected. For some months during 1861,
                    the committee acted under the guidance of the Rev. E. Essing of Caledonia. With the arrival of
                    Father Theodore Venn as the assistant pastor of St. Thomas church, greater progress was made. A
                    committee, composed of Mr. H. Kilian, Mr. C. Mertes, and Mr. G Schwark, was appointed to secure the
                    stone for the foundation and walls of the church. A building committee, which obtained permission to
                    build the church from the Rt. Rev. Thomas L. Grace, Bishop of St. Paul, was elected on April 3,
                    1862. The following were members: Messrs. Joseph Braendle, F. Rademacher, Frank Becker, Peter
                    Hornung, J. W. Schwark, and Frank Winkels. The building was completed in the month of November
                    1862.</p>
                <p>The Rev. Theodore Venn was appointed the first pastor on August 12, 1862, and remained until October
                    15, 1863. From then until April 1864, Father Michael Prendergast of Saint Thomas parish was in
                    charge of the parish. The Reverend William Lette became the second pastor and he remained until
                    1868. He was succeeded by the Rev. Alois Plut, who was the pastor from 1868 to 1876. He enlarged the
                    parochial school and church in 1871. Missions were established at Wilson, Elba, and Rollingstone.
                    Rev. Karl Koeberl became his assistant. The Rev. F. C. Walter succeeded Father Plut and remained as
                    pastor until February 1878.</p>
                <p>On February 11, 1878, the Rev. A. Heller took charge of the parish. A new brick and stone church was
                    begun under his direction in 1881. The corner stone of the new church was placed on April 30, 1882,
                    with the Most Reverend John Ireland of Saint Paul officiating. The building cost $22,000.00 without
                    fixtures and the completed structure cost $40,000.00. The old church building was moved and used as
                    a parochial school and convent. A new rectory was also built at this time at the corner of fifth and
                    Lafayette Streets. The building committee was: J. B. Kirch, Joseph Schlingermann, C. M. Germes, John
                    Winkels, Joseph Braendle, Jacob Mawry, John Ludwig, Peter Hengel, Anton Trautner, and Joseph
                    Kasimor. The parish was incorporated in 1879.</p>
                <p>Father Heller was succeeded in 1885 by Rev. John Meier. During Father Meier's pastorate, the existing
                    debt on the new church was paid. In 1896, the school was built at a cost of $50,000.00. In 1918, a
                    new brick and stone rectory replaced the old frame structure. During this time, stained glass
                    windows were put in the church and a central heating plant was installed to service both the church
                    and school. Father Meier was made a Domestic Prelate in 1922 and died in 1927. Rt. Rev. Msgr. John
                    Meier was succeeded by the Rev. George Jaegen, under whose guidance the parish grew to over three
                    hundred families. Father Jaegen directed some very necessary repairs and alterations in the church
                    buildings. The church was redecorated, and air-conditioning system installed, and a new roof put on
                    both buildings.</p>
                <p>Father Jaegen retired in 1937 and the assistant pastor, Father Alphonse Diekman, took charge until
                    August 30, 1938, when the Reverend B. A. Kramer was appointed pastor. During Father Kramer’s
                    pastorate, a rectory was purchased at 103 East Fifth Street at a cost of ten thousand dollars. The
                    former rectory was remodeled as a home for the Sisters of Saint Francis, who were in charge of the
                    school. The old quarters of the Sisters in the school building were remodeled for school purposes.
                    Father Kramer was named Vicar General of the Diocese by Bishop Kelly. He was elevated to the dignity
                    of a Domestic Prelate by Pope Pius XII in October 1943. He resigned the pastorate of Saint Joseph's
                    in 1946 to assume charge of Saint Agnes Parish at Kellogg, Minnesota. On July 31, 1946, the very
                    Rev. Msgr. Joseph F. Hale, V. G., became the pastor of Saint Joseph's and its mission, the
                    Immaculate Conception Church of Wilson Township.</p>
                <p>At the time of its' union with Saint Thomas' parish to form the parish of Cathedral of the Sacred
                    Heart, there were over three hundred households in the parish or about fourteen hundred souls. The
                    members of the parish corporation at the time of the union were as follows: The most Reverend Edward
                    A. Fitzgerald, D. D. President; The Rt. Rev. Msgr. Joseph F. Hale, Vice president; Mr. Edward J.
                    Hartert, Secretary; Mr. Alois Koutsky, Treasurer.</p>
                <p>The following are the priests who served as assistants in the parish of Saint Joseph; Rev. Karl
                    Koeberl; Rev. Mathias Jostock; Rev. Alois Gmeinder; Rev. George Jaegen; Rev. Peter Tibesar; Rev.
                    Alois Wermerskirchen; Rev. H. Schouven; Rev. B. A. Kramer; Rev. Joseph Koch; Rev. C. Steger: Rev.
                    Urban Buchheit; Rev. Alphonse Diekmann; Rev. R. J. Jansen; Rev. H. C. King; Rev. Daniel Tierney;
                    Rev. Raymond Redder; Rev. Francis W. Klein; Rev. Eugene J. Gores.</p>
                <h2>St. Joseph School</h2>
                <p>The Saint Joseph School was established and opened in 1858 in a small building on East Fifth Street
                    between Chestnut and Liberty Streets. In 1858, the school was moved to East Fifth Street. In 1869,
                    the School Sisters of Notre Dame were asked to take charge of the school, but they were unable to
                    send sisters until 1872. Two sisters came that year to assist a lay teacher. Four sisters assumed
                    all teaching duties in 1879. In 1855, the School Sisters of Saint Francis, also from Milwaukee,
                    succeeded the School Sisters of Notre Dame. The Sisters of Saint Francis of the Congregation of Our
                    Lady of Lourdes, whose motherhouse is in Rochester, took over the instruction in 1927 and continued
                    to teach there until June of 1952.</p>
                <p>During the pastorate of Father Meier, the number of pupils had so increased that it was necessary to
                    build a new school. According to the plan drawn by the architectural firm of Stevens and Vandeusen,
                    a two-story brick school was erected in 1896 at the cost of $50,000.00. It contained classrooms,
                    quarters for the Sisters, and the large Saint Joseph’s Hall on the second floor. The Sisters moved
                    into the former rectory in 1939 when the rectory at 103. E. Fifth Street was purchased. In its last
                    year as an elementary school, 1951-1952, there were 230 pupils taught by six Sisters and one lay
                    teacher. The children began to attend the Cathedral Grade School, the former Saint Thomas School, in
                    September 1952. At that time, the school was also used as a part of Cotter High School. The Sisters
                    who taught at Cotter High School resided in the old convent and rectory at 102 and 103 E. Fifth
                    Street.</p></div>
        </div>
    </div>
</div>
{% endblock %}
