{% extends "layout.njk" %}
{% block title %}Safe Environment Program{% endblock %}
{% block content %}
    <div class="container">
    <div class="row">
        <header class="col-sm-12">
            <h1 class="text-center">Safe Environment Program</h1>
        </header>
    </div>
    <div class="row">
        <div class="col-md-3">
            <img src="images/safe-environment.jpg" class="img-responsive pull-left" alt="Protecting God's Children"/>
        </div>
        <div class="col-sm-6">
            <div class="text-center">
                <p>
                    The Diocese of Winona-Rochester is committed to providing
                    safe environments and fostering continuous improvement in every organization that sponsors
                    activities and/or provides services to children and youth. The Diocese intends to create communities
                    of informed adults who model appropriate behavior, are vigilant to the warning signs of abuse and
                    take action to prevent abuse and improve safety. Likewise, the Diocese is determined to ensure that
                    facilities, grounds and procedures promote optimal safety.
                    <br/><br/>
                    The Virtus program is designed
                    to help volunteers and employees work together to create safe environments for children and
                    vulnerable adults. While attending a Virtus session is part of the safe environment program
                    requirement for volunteers and employees at Catholic parishes and schools, everyone is welcome to
                    attend.&nbsp;
                    <br/><br/>
                    Thank you for helping us keep our parishes, schools, and communities
                    safe!
                    <br/>
                    If you have any questions or concerns about our program, please contact the parish office
                    at&nbsp;<a title="" href="mailto:info@cathedralwinona.org">info@cathedralwinona.org</a>&nbsp;or
                    (507) 452-4770. If you would like more information regarding the&nbsp;Diocese of Winona-Rochester's
                    Safe
                    Environment program, please visit <a title=""
                                                         href="http://www.dow.org/offices/safe-environment/index.html"
                                                         target="_blank">their website</a>.
                    <br/><br/>
                    If you would like to file a complaint please visit the Diocese of Winona-Rochester Misconduct
                    Complaint
                    Process
                    <a title="" href="http://www.dow.org/offices/safe-environment/report-a-complaint.html"
                       target="_blank">website</a>.
                </p>
            </div>
        </div>
        <div class="col-sm-3">
            <ul class="list-group">
                <li class="list-group-item">
                    <span class="far fa-pencil">&nbsp;</span>
                    <a href="https://www.virtusonline.org/virtus/reg_list2.cfm?theOrgID=18682&amp;theme=0"
                       target="_blank">Register for VIRTUS Session</a>
                </li>
                <li class="list-group-item">
                    <span class="far fa-search">&nbsp;</span>
                    <a href="http://www.dow.org/img/offices/safe-environment/Volunteer%20Consent-%20Updated_2014Feb.pdf"
                       target="_blank">Volunteer Background Check</a>
                </li>
                <li class="list-group-item">
                    <span class="far fa-file-pdf">&nbsp;</span>
                    <a href="http://www.dow.org/img/offices/safe-environment/CodeConductClergy_Employee.pdf"
                       target="_blank">Volunteer Code of Conduct</a>
                </li>
                <li class="list-group-item">
                    <span class="far fa-circle">&nbsp;</span>
                    <a href="http://archomaha.org/ministries/safe-environment/circle-of-grace/" target="_blank">
                        Circle of Grace Program</a>
                </li>
            </ul>
        </div>
    </div>
    </div>
{% endblock %}
