{% extends "layout.njk" %}
{% block title %}Bible Studies | Cathedral and St. Casimir Parish{% endblock %}
{% block content %}
<div class="body">
    <div class="container">
        <ol class="breadcrumb">
            <li><a>Formation</a></li>
            <li><a href="..">Adult Formation</a></li>
            <li class="active">Ephesians</li>
        </ol>
    </div>
    <div class="container">
        <div class="row text-center">
            <div class="col-sm-12">
                <h1>Ephesians</h1>
                <p>“Discover Your Inheritance” by Jeff Cavins & Thomas Smith</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2"><img class="img img-responsive" src="./image.jpg"/></div>
            <div class="col-sm-7">
                <p>
                    Paul’s letter to the Ephesians reveals many remarkable gifts that we as Christians are given in the
                    Church. This letter tells us about the nature of the Church – as a body, as a household, as a
                    mystery,
                    as a communion, as a bride, and as an army. It shows us the great inheritance that awaits us as sons
                    and
                    daughters, adopted fully into the family of God. It reveals how God’s great love for us can
                    transform
                    our daily lives if we allow it. Ephesians is an 8-part Bible study that will enrich your faith, and
                    show
                    you how to live it out.
                </p>
                <p>In this study, you will:</p>
                <ul>
                    <li> Discover what it means to be a son or daughter of God & an heir to all he has to give.
                    </li>
                    <li> Learn of how we can love one another as Christ loves the Church.
                    </li>
                    <li> Find out that you have a place in God’s “plan of sheer goodness".
                    </li>
                </ul>
                <p>(Format: Student Workbook, Small Group Discussion, DVD presentations.)</p>
            </div>
            <div class="col-sm-3">
                <ul class="list-group">
                    <li class="list-group-item">
                        <a href="https://goo.gl/forms/tZ5vSwniXPSPFO6z1">
                            <i class="far fa-pencil padded"></i>Register Online
                        </a>
                        <br/>
                        <small>Registration and payment are due by September 8th</small>
                    </li>
                    <li class="list-group-item"><a href="registration.pdf"><i class="far fa-file-pdf padded"></i>Paper
                            Registration</a>
                        <br/>
                        <small>Print and return to either the Cathedral or St. Mary's Parish Office by September
                            8th.</small>
                    </li>
                    <li class="list-group-item"><a href="flyer.pdf">
                            <i class="far fa-file-pdf padded"></i>Flyer</a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-10 col-sm-offset-2">
                <h3>Schedule</h3>
                <p>St. Mary’s Tuesday 7:00 – 8:30pm or Cathedral Wednesday 9:30 – 11:30am.</p>
                <p>8 Sessions: 9/19 – 11/15.</p>
                <p><strong>Cost:</strong> $23. </p>
                <p><strong>Deadline:</strong> Fri 9/8. </p>
                <p>Make checks payable to “St. Mary’s.” Click the link above to register or pick up forms in Cathedral’s Gathering
                    Space & St. Mary’s Commons. </p>
                <p><strong>Contact:</strong> Donna 507-454-1296</p>

            </div>
        </div>
    </div>
</div>
{% endblock %}
