{% extends "layout.njk" %}
{% block title %}Mary | Bible Studies | Cathedral and St. Casimir Parish{% endblock %}
{% block content %}
    <div id="body">
        <div class="container">
            <ol class="breadcrumb">
                <li><a>Formation</a></li>
                <li><a href="..">Adult Formation</a></li>
                <li class="active">Mary</li>
            </ol>
            <div class="row text-center">
                <div class="col-sm-12">
                    <h1>Mary – A Biblical Walk with our Blessed Mother</h1>
                    <p>Why is Mary so important to us? By Dr. Edward Sri</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2"><img class="img img-responsive" src="./dvd.png"/></div>
                <div class="col-sm-7">
                    <p>
                        As Catholics, we have a profound reverence for the Blessed Mother. We turn to her in prayer, in
                        the Mass, in the Rosary, and in Marian devotions. We honor her with special feasts celebrating
                        the significant events in her life. We place images of her in our churches and homes.
                    </p>
                    <strong>The better we know Mary, the better we will know her Son.</strong>
                    <p>
                        “Mary: A Biblical Walk with the Blessed Mother” is an extraordinary pilgrimage that reveals
                        Mary's unique role in God's Kingdom and in our lives. Filmed on location in the Holy Land, the
                        9-part Study will place you in the midst of the powerful drama of her earthly life, taking you
                        through her joys and her sorrows. You will learn how she works in our lives today, drawing us
                        ever closer to her Divine Son. Seeing Mary in this way will change you forever. Mary will become
                        a part of your daily life, and in your daily life, you will become more like Christ.
                    </p>
                </div>
                <div class="col-sm-3">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <a href="https://goo.gl/forms/sW45obd8QFt5JA3g2">
                                <i class="far fa-pencil padded"></i>Register Online
                            </a>
                            <br/>
                            <small>Registration and payment are due by March 18th</small>
                        </li>
                        <li class="list-group-item">
                            <a href="registration.pdf"><i class="far fa-file-pdf padded"></i>Paper Registration</a>
                            <br/>
                            <small>Print and return to either the Cathedral or St. Mary's Parish Office.</small>
                        </li>
                        <li class="list-group-item"><a href="flyer.pdf">
                                <i class="far fa-file-pdf padded"></i>Flyer</a></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-10 col-sm-offset-2">
                    <h3>Schedule</h3>
                    <p>9 Sessions: April 1, 2019 - June 5, 2019</p>
                    <p>Cathedral: <strong>Monday 6:30 pm - 8:30 pm</strong> (Donna)</p>
                    <p>Cathedral: <strong>Monday Brown Bag 12:10 pm - 12:40 pm</strong> (Donna)</p>
                    <p>Cathedral: <strong>Wednesday 9:30 am - 11:30 am</strong> (Mary)</p>
                    <p>
                        Or <strong>45 min Class Discussion</strong> + Video at home.
                        Or choose <strong>Home Study</strong>! Contact us to learn more!
                    </p>
                    <p><strong>Cost:</strong> $27 (make checks payable to "Cathedral")</p>
                    <p><strong>Contact:</strong> Donna 507-454-1296</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
