{% extends "layout.njk" %}
{% block title %}Revelation | Bible Studies | Cathedral and St. Casimir Parish{% endblock %}
{% block content %}
    <div class="body">
        <div class="container">
            <ol class="breadcrumb">
                <li><a>Formation</a></li>
                <li><a href="..">Adult Formation</a></li>
                <li class="active">Revelation</li>
            </ol>
        </div>
        <div class="container">
            <div class="row text-center">
                <div class="col-sm-12">
                    <h1>Revelation</h1>
                    <p>The Kingdom yet to Come, by Jeff Cavins</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2"><img class="img img-responsive" src="./image.png"/></div>
                <div class="col-sm-7">
                    <p>
                        Perhaps no book in the Bible fascinates people more than Revelation.
                        Learn how the kingdom established by Christ in this Church is intimately
                        connected with the kingdom of heaven, especially through the celebration
                        of the Mass.

                        <br/><br/>

                        You will learn what all the mysterious figures and images of Revelation present,
                        as well as what will happen during the Second Coming of Christ, what has already
                        happened, and what is happening now in salvation history.
                    </p>
                    <p>(Format: Student Workbook, Small Group Discussion, DVD presentations.)</p>
                </div>
                <div class="col-sm-3">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <a href="https://forms.gle/3a9D3SKM4kHVUyRt5">
                                <i class="far fa-pencil padded"></i>Register Online
                            </a>
                            <br/>
                            <small>Registration and payment are due by December 16th</small>
                        </li>
                        <li class="list-group-item"><a href="registration.pdf">
                                <i class="far fa-file-pdf padded"></i>Paper Registration</a>
                            <br/>
                            <small>Print and return to either the Cathedral or St. Mary's Parish Office.
                            </small>
                        </li>
                        <li class="list-group-item"><a href="flyer.pdf">
                                <i class="far fa-file-pdf padded"></i>Flyer</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-10 col-sm-offset-2">
                    <h3>Schedule</h3>
                    <p>Cathedral: Tuesday 6:30-8:30PM</p>
                    <p>Cathedral: Wednesday 9:30-11:30AM</p>
                    <p>11 Sessions: January 14th-March 25th</p>
                    <p><strong>Cost:</strong> $33</p>
                    <p><strong>Deadline:</strong> Wednesday, December 16th. </p>
                    <p><strong>Contact:</strong> Donna 507-454-1296</p>
                    <p class="italic">*Home Study Option is available</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
